[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
tenacity = "*"
pytest = "*"
pytest-html = "*"
"beautifulsoup4" = "*"
pytest-ordering = "*"
pyyaml = "*"
flask = "*"
flask-restful = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
flask-httpauth = "*"
requests-toolbelt = "*"
allure-pytest = "*"
flask-cors = "*"


[dev-packages]



[requires]

python_version = "3.6"
